build
.cache
compile_commands.json
out
.idea
cmake-build*
output
.trae

# Python
.mypy_cache
__pycache__
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.log

.vs
.vscode
.venv
/CMakeSettings.json
uv.lock
dist
render.png
aligned_points
outputs
*.ncu-rep
*.nsys-rep
config_train
video_to_png
loss.png
*.pt
*.pth
!build.log
*.ply